<!DOCTYPE html>
<html lang="en">
<head lang="en">
    <meta charset="UTF-8">
    <title>超市订单管理系统</title>
    <link type="text/css" rel="stylesheet" href="../../css/style.css" />
    <link type="text/css" rel="stylesheet" href="../../css/public.css" />
</head>
<body>
<div id="pwUpdate">
    <!--头部-->
    <header class="publicHeader">
        <h1>超市订单管理系统</h1>
        <div class="publicHeaderR">
            <p><span>下午好！</span><span style="color: #fff21b" v-text="un"> 系统管理员</span> , 欢迎你！</p>
            <a href="login.html">退出</a>
        </div>
    </header>
    <!--时间-->
    <section class="publicTime">
        <span id="time">2015年1月1日 11:11  星期一</span>
        <a href="#">温馨提示：为了能正常浏览，请使用高版本浏览器！（IE10+）</a>
    </section>
    <!--主体内容-->
    <section class="publicMian ">
        <div class="left">
            <h2 class="leftH2"><span class="span1"></span>功能列表 <span></span></h2>
            <nav>
                <ul class="list">
                    <li ><a href="../sms-Order/orderManage.html">订单管理</a></li>
                    <li><a href="../sms-Provider/providerManage.html">供应商管理</a></li>
                    <li><a href="userList.html">用户管理</a></li>
                    <li><a href="pwUpdate.html">密码修改</a></li>
                    <li><a href="login.html">退出系统</a></li>
                </ul>
            </nav>
        </div>
        <input type="hidden" id="path" name="path" value="/SMBMS"/>
        <input type="hidden" id="referer" name="referer" value="http://localhost:8080jsp/user.do?method=query"/>
        <div class="right">
            <div class="location">
                <strong>你现在所在的位置是:</strong>
                <span>密码修改页面</span>
            </div>
            <div class="providerAdd">
                <form id="userForm" name="userForm" method="post" action="user.do" onsubmit="return false">
                    <input type="hidden" name="method" v-model="uId">
                    <!--div的class 为error是验证错误，ok是验证成功-->
                    <div class="info"></div>
                    <div class="">
                        <label for="oldpassword">旧密码：</label>
                        <input type="password" name="oldpassword" id="oldpassword" v-model="oldPw">
                        <font color="red"></font>
                    </div>
                    <div>
                        <label for="newpassword">新密码：</label>
                        <input type="password" name="newpassword" id="newpassword" v-model="newPw">
                        <font color="red"></font>
                    </div>
                    <div>
                        <label for="reNewPassword">确认新密码：</label>
                        <input type="password" name="reNewPassword" id="reNewPassword" v-model="reNewPw">
                        <font color="red"></font>
                    </div>
                    <div class="providerAddBtn">
                        <!--<a href="#">保存</a>-->
                        <input type="button" name="save" id="save" value="保存" class="input-button" @click="save">
                    </div>
                </form>
            </div>
        </div>
    </section>

    <footer class="footer">
        版权归XXXX
    </footer>
    <script type="text/javascript" src="../../js/time.js"></script>
    <script type="text/javascript" src="../../js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="../../js/common.js"></script>
    <script type="text/javascript" src="../../calendar/WdatePicker.js"></script>
</div>
</body>
</html>
<script src="../../vue/vue.js"></script>
<script src="../../axios/axios.js"></script>
<script src="../../js/jquery-params.js"></script>
<script type="module">
    import {get} from "../../js/reqAPI.js";
    new Vue({
        el:"#pwUpdate",
        data:{
            un:JSON.parse(localStorage.getItem("loginUserInfo")).userName,
            uId:JSON.parse(localStorage.getItem("loginUserInfo")).userId,
            oldPw:"",
            newPw:"",
            reNewPw:""
        },
        methods:{
            save(){
                if (this.newPw!==this.reNewPw){
                    alert("两次密码不一致!");
                    return;
                }
                const params={params:{id:this.uId,op:this.oldPw,np:this.reNewPw}};

                /*统一请求网关API*/
                get("/UserService/modifyPw.do",params).then(res=>{
                    if (res.data){
                        alert("修改成功!");
                        location.href="login.html";
                    }else {
                        alert("原密码不正确!");
                    }
                })

                // axios.get("http://localhost:8000/modifyPw.do",params).then((res)=>{
                //     if (res.data){
                //         alert("修改成功!");
                //         location.href="login.html";
                //     }else {
                //         alert("原密码不正确!");
                //     }
                // })
            }
        }
    })
</script>